.Products {
  width: 30%;
  margin: 10px;
}

.btnDetail {
  margin-top: 15px;
  display: flex;
  align-items: center;
  margin-left: 30%;
}

@media (max-width: 771px) {
  .Products {
    width: 100%;
  }
}
